.gradient
{
    background: rgb(34,34,34);
    background: linear-gradient(90deg, rgba(34,34,34,1) 0%, rgba(95,122,140,0.85) 60%, rgba(95,122,140,0) 100%);
}

h1
{
    padding: 30px;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px black;
    font-size: 60px;
    color: white;
}

.dolt{
    font-style: italic;
}

h2{
    margin-top: 30px;
}

.kepfelirat{
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    color: #444;
    margin-top: 12px;
}

#jobboszlop{
    background-color: #333;
    color: white;
}

.keretes{
    border: 6px black solid;
    margin: 20px 0 20px 0;
}

li{
    line-height: 2em;
}

.lablec{
    border: 2px dotted black;
    padding: 10px;
    text-align: center;
    
}